<!-- templates/home.html -->
{% extends 'home/base_home.html' %} {% load static %} {% block title %}ICREW{% endblock %} {% block content %}
<div class="container">
  <p>This chat room is for fun only!</p>
  <p>For serious matters, use our WhatsApp group chat.</p>
  <p>If you are found faking other people, sending fake news, or anything else which violates the committee's rules, you will be banned!</p>
  <iframe src="https://minnit.chat/icrewchatroom?embed&nickname=" style="border:none;width:90%;height:500px;" allowTransparency="true"></iframe><br><a href="https://minnit.chat/icrewchatroom" target="_blank">HTML5 Chatroom powered by Minnit Chat</a>
</div>
{% endblock content %}
