<!-- templates/home.html -->
{% extends 'home/base_home.html' %} {% load static %} {% block title %}ICREW{% endblock %} {% block content %}
<div class="container">
  {% for announcement in announcements %}
  <div class="alert alert-info my-3">{{ announcement.text }} </div>
  {% endfor %}
  <h4>Welcome to ICREW!</h4>
  <div class="my-4">
    {% if user.is_authenticated %} Hi {{ user.username }}! {% else %}
    <p>You are not logged in.</p>
    {% endif %}
  </div>
  <div>
    ICREW (IHG Coverage Registration of EusoffWorks) is a website provides these services:
    <ul>
      <li>Provides the schedule of IHG events</li>
      <li>Allows the members to register to cover IHG events</li>
      <li>Allows the heads to allocate manpower fairly</li>
    </ul>
  </div>
  <div>
    <p>
      New to the system? Read
      <a class="" href="{% static 'icrew_user_guide.pdf' %}">ICREW User Guide</a>
      and
      <a class="" href="{% static 'ihg_procedure.pdf' %}">IHG Procedures</a>
      now.
    </p>
  </div>
  <div>
    <p>
      First time login?
      <a class="" href="{% url 'change_password' %}">Change password</a>
      immediatelly.
    </p>
  </div>
</div>
{% endblock content %}
