{% extends 'base.html' %}
{% block basecontent %}
<div class="container-lg">
  <p><em>Coming soon!</em></p>
  <table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Member</th>
      <th># Events</th>
      <th># Hours</th>
      <th>Est. waiting time</th>
      <th>Est. working time</th>
      <th>Est. energy</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>John Doe</td>
      <td>5</td>
      <td>14 h</td>
      <td>4.6 h</td>
      <td>12.5 h</td>
      <td>9900 kcal</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Jane Doe</td>
      <td>3</td>
      <td>7 h</td>
      <td>2.4 h</td>
      <td>5.5 h</td>
      <td>5000 kcal</td>
    </tr>
    <tr>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
  </tbody>
</table>
</div>
{% endblock basecontent %}
