{% extends "events/base_events.html" %} {% block content %}

<div class="container-sm">
  <h1>
    {{ event.title }}
  </h1>
  {% if event.is_inconsistent %}
  <div class="alert alert-danger my-4" role="alert">
    <i class="fa fa-exclamation-triangle"></i>
    The details are inconsistent with the official schedule.
    Please use the infomation from the official schedule instead.
  </div>
  {% endif %}
  {% if event.is_recently_changed %}
  <div class="alert alert-warning my-4" role="alert">
    <i class="fa fa-history"></i>
    There have been some new changes within 24 hours!
  </div>
  {% endif %}
  <table class="table">
    <tbody>
      <tr>
        <td>Time</td>
        <td>{{ event.start_at|date:"H:i" }} - {{ event.ended_at|date:"H:i" }}</td>
      </tr>
      <tr>
        <td>Date</td>
        <td>{{ event.start_at|date:"d M Y" }}</td>
      </tr>
      <tr>
        <td>Venue</td>
        <td>{{ event.venue|default:"(none)" }}</td>
      </tr>
      <tr>
        <td>Description</td>
        <td style="white-space: pre-line;">{{ event.description|default:"(none)" }}</td>
      </tr>
      <tr>
        <td>Demand</td>
        <td>{{ event.demand }} videographer{{ event.demand|pluralize }}</td>
      </tr>
      <tr>
        <td>Event status</td>
        <td>
          <span class="{{ event.status_class|default:'badge badge-secondary' }}">
            {{ event.status_label|default:'Unknown status' }}
          </span>
        </td>
      </tr>
      <tr>
        <td>Time status</td>
        <td>
          <span class="{{ event.time_status_class|default:'badge badge-secondary' }}">
            {{ event.time_status_label|default:'Unknown time status' }}
          </span>
        </td>
      </tr>
      <tr>
        <td>Registration status</td>
        <td>
          <span class="{{ event.reg_status_class|default:'badge badge-secondary' }}">
            {{ event.reg_status_label|default:'Unknown status' }}
          </span>
        </td>
      </tr>
      <tr>
        <td>Other tags</td>
        <td>
          {% for tag in event.custom_tags %}
          <span class="{{ tag.class|default:'badge badge-secondary' }}">
            {{ tag.label }}
          </span>
          {% empty %}
          (none)
          {% endfor %}
        </td>
      </tr>
      <tr>
        <td>Allocated users</td>
        <td>
          {% for user in event.accepted_users %}
          {{ user.displayed_name  }}
          {% if not forloop.last %}, {% endif %}
          {% endfor %}
        </td>
      </tr>
      <tr>
        <td>Created at</td>
        <td>{{ event.created_at|date:'d M Y H:i'|default:'Unknown' }}</td>
      </tr>
      <tr>
        <td>Modified at</td>
        <td>{{ event.modified_at|date:'d M Y H:i'|default:'Unknown' }}</td>
      </tr>
    </tbody>
  </table>

  {% if user.is_authenticated %}
  <form method="post">
    {% csrf_token %} {% if not event.has_registered%}
    <button class="btn btn-primary btn-lg btn-block " type="submit" name="action" value="register" {% if not event.can_register %} disabled {% endif %}>
      Register
    </button>
    {% else %}
    <button class="btn btn-danger btn-lg btn-block" type="submit" name="action" value="unregister" {% if not event.can_unregister %} disabled {% endif %}>
      Unregister
    </button>
    {% endif %}
  </form>
  {% else %}
  <div class="alert alert-danger">
    You have to login before registration.
  </div>
  {% endif %}

  {% if user.is_staff %}
  <a href="{% url 'admin:events_event_change' event.id %}" class="btn btn-block btn-lg btn-secondary my-4">
    Edit
  </a>
  {% endif %}
</div>

{% endblock content %}
