{% extends "events/base_events.html" %} {% block content %}

<div class="container-fluid">
  <ul class="nav nav-tabs mb-4">
    {% for week_no in week_no_list %}
    <li class="nav-item">
      <a class="nav-link {% if week_no == active_week_no %} active {% endif %}" href="{% url 'events-week' week_no %}">
        Week {{ week_no }}
      </a>
    </li>
    {% endfor %}
  </ul>

  <div style="display: block; overflow-x: auto;">
    <small>
      <div class="row mx-0" style="min-width: 1500px">
        {% for day in days %}
        <div class="col">
          <h4 class="text-center">{{ day.day_name }}</h4>
          <h6 class="text-center">{{ day.date|date:"d M Y" }}</h6>

          {% for event in day.events %}
          <div class="card my-4 {{ event.card_border.class }}">
            {% if event.card_header %}
            <div class="card-header font-weight-bold {{ event.card_header.class }}">
              <i class="{{ event.card_header.icon }} mr-1"></i>
              {{ event.card_header.label }}
            </div>
            {% endif %}

            <div class="card-body">
              <h6 class="card-title">
                <a href="{% url 'events-detail' id=event.id %}" class="stretched-link">{{ event.title }}</a>
              </h6>
              <p class="text-secondary m-0">
                {{ event.start_at|date:"H:i" }} - {{ event.ended_at|date:"H:i" }}
              </p>
              <p class="text-secondary m-0">@ {{ event.venue }}</p>
              <p class="text-secondary m-0">{{ event.reg_count }} / {{ event.demand }} registered</p>
              {% if event.accepted_users %}
              <p class="text-success m-0">
                Allocated users ({{ event.accepted_users|length }}):
                {% for user in event.accepted_users %}
                {{ user.displayed_name  }}
                {% if not forloop.last %}, {% endif %}
                {% endfor %}
              </p>
              {% endif %}
              <p>
                <span class="{{ event.time_status_class|default:'badge badge-secondary' }}">
                  {{ event.time_status_label|default:'Unknown time status' }}
                </span>
                <span class="{{ event.status_class|default:'badge badge-secondary' }}">
                  {{ event.status_label|default:'Unknown status' }}
                </span>
                {% if event.has_registered %}
                <span class="{{ event.reg_status_class|default:'badge badge-secondary' }}">
                  {{ event.reg_status_label|default:'Unknown status' }}
                </span>
                {% endif %}
                {% if event.locked %}
                <span class="badge badge-danger">
                  Locked by admin
                </span>
                {% endif %}
                {% for tag in event.custom_tags %}
                <span class="{{ tag.class|default:'badge badge-secondary' }}">
                  {{ tag.label }}
                </span>
                {% endfor %}
              </p>
            </div>
          </div>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
    </small>
  </div>
</div>
{% endblock content %}
